ReservationSysteem/bin/Debug/net10.0/ReservationSysteem.exe
ReservationSysteem/bin/Debug/net10.0/ReservationSysteem.exe
ReservationSysteem/bin/Debug/net10.0/ReservationSysteem.pdb
ReservationSysteem/obj/Debug/net10.0/apphost.exe
ReservationSysteem/obj/Debug/net10.0/ref/ReservationSysteem.dll
ReservationSysteem/obj/Debug/net10.0/refint/ReservationSysteem.dll
ReservationSysteem/obj/Debug/net10.0/ReservationSysteem.AssemblyInfo.cs
ReservationSysteem/obj/Debug/net10.0/ReservationSysteem.AssemblyInfoInputs.cache
ReservationSysteem/obj/Debug/net10.0/ReservationSysteem.assets.cache
ReservationSysteem/obj/Debug/net10.0/ReservationSysteem.csproj.AssemblyReference.cache
ReservationSysteem/obj/Debug/net10.0/ReservationSysteem.genruntimeconfig.cache
ReservationSysteem/obj/Debug/net10.0/ReservationSysteem.pdb
ReservationSysteem/obj/project.assets.json
ReservationSysteem/obj/project.assets.json
ReservationSysteem/obj/project.nuget.cache
ReservationSysteem/obj/ReservationSysteem.csproj.nuget.dgspec.json
ReservationSysteem/obj/ReservationSysteem.csproj.nuget.g.props
